h3 {
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
    z-index: 300;
}
p {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    z-index: 300;
}
button {
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    z-index: 300;
}